<div class="container mx-auto columns-1">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image mx-auto"></div>
        </mat-card-header>
        <mat-card-content class="mt-36">
            <div class="mx-auto mt-10">
                <mat-card-title class="text-center">username : {{username}}</mat-card-title>
                <mat-card-subtitle class="text-center">emial: {{email}}</mat-card-subtitle>
            </div>
            <p class="mt-20">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ipsum dolore numquam
                repellat
                dolorem harum exercitationem ullam nesciunt, veniam, est nulla quisquam! Quas sapiente aliquid sequi
                sed! Reiciendis facilis provident debitis quia totam deleniti, natus nemo, repellendus consequuntur
                dolorem doloribus excepturi culpa, odit nobis iure laborum. Reiciendis iure consequatur facere.</p>
        </mat-card-content>
    </mat-card>
</div>